In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('fodder1.csv')
df.head()

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100037.0,Aditya Birla Sun Life Income Fund Regular Plan...,Medium to Long Duration,23/10/1995,1.1600 (as on 28/02/2025),633.9800(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100038.0,Aditya Birla Sun Life Income Fund Regular Plan...,Medium to Long Duration,21/10/1995,1.1600 (as on 28/02/2025),633.9800(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100077.0,DSP Bond Fund Regular Plan Reinvestment of Inc...,Medium Duration,29/04/1997,0.7500 (as on 28/02/2025),170.9400(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

          SchemeCode
count    1170.000000
mean   111684.539316
std      7556.823280
min    100033.000000
25%    103192.250000
50%    112877.500000
75%    119016.750000
max    120482.000000

In [4]:
df

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100037.0,Aditya Birla Sun Life Income Fund Regular Plan...,Medium to Long Duration,23/10/1995,1.1600 (as on 28/02/2025),633.9800(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100038.0,Aditya Birla Sun Life Income Fund Regular Plan...,Medium to Long Duration,21/10/1995,1.1600 (as on 28/02/2025),633.9800(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100077.0,DSP Bond Fund Regular Plan Reinvestment of Inc...,Medium Duration,29/04/1997,0.7500 (as on 28/02/2025),170.9400(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,120478.0,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,05/07/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
1170,120479.0,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,21/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
1171,120480.0,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,01/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49
1172,120481.0,JM Arbitrage Fund (Direct) Reinvestment of Inc...,Arbitrage Fund,01/01/2013,0.4000 (as on 31/03/2025),1123.9500(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1173,120482.0,JM Arbitrage Fund (Direct) - Growth Option,Arbitrage Fund,01/01/2013,0.4000 (as on 31/03/2025),1123.9500(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['SchemeCode', 'SchemeName', 'SchemeCategory', 'Inception',
       'ExpenseRatio', 'TurnoverRatio', 'ALP3Y', 'ALP5Y', 'ALP10Y', 'BET3Y',
       'BET5Y', 'BET10Y', 'R2_3YRS', 'R2_5YRS', 'R2_10YRS', 'SD_3YRS',
       'SD_5YRS', 'SD_10YRS', 'SHP_3YRS', 'SHP_5YRS', 'SHP_10YRS'],
      dtype='object')

In [6]:
df.SchemeCategory.value_counts()

Low Duration                130
Conservative Allocation      96
Short Duration               83
Large-Cap                    82
Money Market                 70
Large & Mid- Cap             68
Index Funds                  61
Medium to Long Duration      59
Mid-Cap                      57
Ultra Short Duration         54
Aggressive Allocation        53
Medium Duration              49
Corporate Bond               48
Banking & PSU                43
Arbitrage Fund               41
Value                        34
Small-Cap                    30
Multi Asset Allocation       22
Multi-Cap                    18
Dynamic Asset Allocation     16
Contra                       12
10 yr Government Bond        12
Equity Savings               12
Other Bond                    9
Long Duration                 2
Balanced Allocation           1
Name: SchemeCategory, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      1170 non-null   float64
 1   SchemeName      1162 non-null   object
 2   SchemeCategory  1162 non-null   object
 3   Inception       1162 non-null   object
 4   ExpenseRatio    1162 non-null   object
 5   TurnoverRatio   1162 non-null   object
 6   ALP3Y           911 non-null    object
 7   ALP5Y           911 non-null    object
 8   ALP10Y          911 non-null    object
 9   BET3Y           911 non-null    object
 10  BET5Y           911 non-null    object
 11  BET10Y          911 non-null    object
 12  R2_3YRS         911 non-null    object
 13  R2_5YRS         911 non-null    object
 14  R2_10YRS        911 non-null    object
 15  SD_3YRS         911 non-null    object
 16  SD_5YRS         911 non-null    object
 17  SD_10YRS        911 non-null    object
 18  SHP_3YRS        911 non-null    object
 19  SHP_5YRS        911 non-null    object
 20  SHP_10YRS       911 non-null    object
dtypes: float64(1), object(20)
memory usage: 192.7+ KB

## Data Cleaning

In [8]:
#check for null values
df.isnull().sum()

SchemeCode          4
SchemeName         12
SchemeCategory     12
Inception          12
ExpenseRatio       12
TurnoverRatio      12
ALP3Y             263
ALP5Y             263
ALP10Y            263
BET3Y             263
BET5Y             263
BET10Y            263
R2_3YRS           263
R2_5YRS           263
R2_10YRS          263
SD_3YRS           263
SD_5YRS           263
SD_10YRS          263
SHP_3YRS          263
SHP_5YRS          263
SHP_10YRS         263
dtype: int64

In [9]:
df[df['SchemeCategory'] == 'Index Funds']

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
53,100484.0,Franklin India NSE Nifty 50 Index Fund Growth,Index Funds,04/08/2000,0.6300 (as on 28/02/2025),8.3400(as on 31/03/2024),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,100822.0,UTI Nifty 50 Index Fund Regular Plan Growth,Index Funds,06/03/2000,0.2500 (as on 28/02/2025),6.0000(as on 28/02/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,100823.0,UTI Nifty 50 Index Fund Regular Plan Payout In...,Index Funds,06/03/2000,0.2500 (as on 28/02/2025),6.0000(as on 28/02/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,101198.0,LIC MF BSE Sensex Index Payout of Income Dis c...,Index Funds,14/11/2002,1.0800 (as on 28/02/2025),14.0000(as on 28/02/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,101199.0,LIC MF BSE Sensex Index Growth,Index Funds,14/11/2002,1.0800 (as on 28/02/2025),14.0000(as on 28/02/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,119827.0,SBI Nifty Index Fund Direct Growth,Index Funds,01/01/2013,0.2200 (as on 31/03/2025),13.0000(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1114,120307.0,LIC MF Nifty 50 Index Fund Direct Plan Growth ...,Index Funds,01/01/2013,0.1800 (as on 31/03/2025),9.0000(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1115,120308.0,LIC MF BSE Sensex Index Direct Plan Growth option,Index Funds,01/01/2013,0.3800 (as on 31/03/2025),12.0000(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,120309.0,LIC MF Nifty 50 Index Fund Direct Plan Reinves...,Index Funds,01/01/2013,0.1800 (as on 31/03/2025),9.0000(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,120312.0,LIC MF BSE Sensex Index Direct Plan Reinvestme...,Index Funds,01/01/2013,0.3800 (as on 31/03/2025),12.0000(as on 31/03/2025),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#drop missing values
df_clean = df.dropna()
df_clean

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
12,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,31/10/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
13,100177.0,Quant Small Cap Fund Growth,Small-Cap,23/09/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
14,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,01/04/1995,2.2500 (as on 28/02/2025),276.1600(as on 28/02/2025),0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,120475.0,Axis Strategic Bond Fund Direct Growth Option,Medium Duration,01/01/2013,0.5300 (as on 31/03/2025),269.2700(as on 31/03/2024),1.10,1.34,0.54,1.19,...,1.26,83.91,83.11,62.70,1.37,1.55,2.19,1.27,1.67,1.05
1168,120477.0,Axis Conservative Hybrid Fund Direct Plan Annu...,Conservative Allocation,11/09/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.80,0.59,-1.38,1.17,...,0.92,88.87,82.12,47.05,4.30,4.26,4.85,0.44,1.09,0.24
1169,120478.0,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,05/07/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
1170,120479.0,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,21/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
1171,120480.0,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,01/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49

In [11]:
df_clean = df_clean.reset_index(drop=True)
df_clean

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,31/10/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,23/09/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,01/04/1995,2.2500 (as on 28/02/2025),276.1600(as on 28/02/2025),0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,120475.0,Axis Strategic Bond Fund Direct Growth Option,Medium Duration,01/01/2013,0.5300 (as on 31/03/2025),269.2700(as on 31/03/2024),1.10,1.34,0.54,1.19,...,1.26,83.91,83.11,62.70,1.37,1.55,2.19,1.27,1.67,1.05
907,120477.0,Axis Conservative Hybrid Fund Direct Plan Annu...,Conservative Allocation,11/09/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.80,0.59,-1.38,1.17,...,0.92,88.87,82.12,47.05,4.30,4.26,4.85,0.44,1.09,0.24
908,120478.0,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,05/07/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
909,120479.0,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,21/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
910,120480.0,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,01/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49

In [12]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      911 non-null    float64
 1   SchemeName      911 non-null    object
 2   SchemeCategory  911 non-null    object
 3   Inception       911 non-null    object
 4   ExpenseRatio    911 non-null    object
 5   TurnoverRatio   911 non-null    object
 6   ALP3Y           911 non-null    object
 7   ALP5Y           911 non-null    object
 8   ALP10Y          911 non-null    object
 9   BET3Y           911 non-null    object
 10  BET5Y           911 non-null    object
 11  BET10Y          911 non-null    object
 12  R2_3YRS         911 non-null    object
 13  R2_5YRS         911 non-null    object
 14  R2_10YRS        911 non-null    object
 15  SD_3YRS         911 non-null    object
 16  SD_5YRS         911 non-null    object
 17  SD_10YRS        911 non-null    object
 18  SHP_3YRS        911 non-null    object
 19  SHP_5YRS        911 non-null    object
 20  SHP_10YRS       911 non-null    object
dtypes: float64(1), object(20)
memory usage: 149.6+ KB

In [13]:
df_clean.SchemeCategory.value_counts()

Low Duration               130
Conservative Allocation     88
Large-Cap                   82
Short Duration              77
Large & Mid- Cap            68
Money Market                64
Mid-Cap                     57
Ultra Short Duration        51
Banking & PSU               41
Medium Duration             39
Medium to Long Duration     39
Aggressive Allocation       36
Value                       34
Corporate Bond              34
Small-Cap                   30
Multi-Cap                   17
10 yr Government Bond       12
Contra                      12
Name: SchemeCategory, dtype: int64

In [14]:
df_clean

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,24/02/1995,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,31/10/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,23/09/1996,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,01/04/1995,2.2500 (as on 28/02/2025),276.1600(as on 28/02/2025),0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,120475.0,Axis Strategic Bond Fund Direct Growth Option,Medium Duration,01/01/2013,0.5300 (as on 31/03/2025),269.2700(as on 31/03/2024),1.10,1.34,0.54,1.19,...,1.26,83.91,83.11,62.70,1.37,1.55,2.19,1.27,1.67,1.05
907,120477.0,Axis Conservative Hybrid Fund Direct Plan Annu...,Conservative Allocation,11/09/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.80,0.59,-1.38,1.17,...,0.92,88.87,82.12,47.05,4.30,4.26,4.85,0.44,1.09,0.24
908,120478.0,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,05/07/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
909,120479.0,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,21/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
910,120480.0,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,01/01/2013,0.9000 (as on 31/03/2025),126.9100(as on 31/03/2024),-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49

## Feature Engineering

In [15]:
df_clean['Inception'] = pd.to_datetime(df_clean['Inception'])

C:\Users\Chaitanya Keshari\AppData\Local\Temp\ipykernel_22964\1757003806.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_clean['Inception'] = pd.to_datetime(df_clean['Inception'])

In [16]:
df_clean.head()

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,1995-02-24,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,1995-02-24,1.9500 (as on 28/02/2025),40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,1996-10-31,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,1996-09-23,1.6400 (as on 31/03/2025),151.0000(as on 30/11/2023),2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,1995-01-04,2.2500 (as on 28/02/2025),276.1600(as on 28/02/2025),0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29

In [17]:
# Cleaning Expense Ration Column
exp_ratio = []
exp = df_clean['ExpenseRatio']
exp = list(exp)
for i in exp:
    exp_ratio.append(float(i.split(' ')[0]))
df_clean['ExpenseRatio'] = exp_ratio

In [18]:
df_clean.head()

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,1995-02-24,1.95,40.0000(as on 28/02/2025),-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,1995-02-24,1.95,40.0000(as on 28/02/2025),-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,1996-10-31,1.64,151.0000(as on 30/11/2023),2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,1996-09-23,1.64,151.0000(as on 30/11/2023),2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,1995-01-04,2.25,276.1600(as on 28/02/2025),0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29

In [19]:
# Cleaning Turnover Ration Column
turn_ratio = []
turn = df_clean['TurnoverRatio']
turn = list(turn)
for i in turn:
    turn_ratio.append(float(i.split('(')[0]))
df_clean['TurnoverRatio'] = turn_ratio
df_clean.head()

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,1996-10-31,1.64,151.00,2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,1996-09-23,1.64,151.00,2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,1995-01-04,2.25,276.16,0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29

In [21]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      911 non-null    float64
 1   SchemeName      911 non-null    object
 2   SchemeCategory  911 non-null    object
 3   Inception       911 non-null    datetime64[ns]
 4   ExpenseRatio    911 non-null    float64
 5   TurnoverRatio   911 non-null    float64
 6   ALP3Y           911 non-null    object
 7   ALP5Y           911 non-null    object
 8   ALP10Y          911 non-null    object
 9   BET3Y           911 non-null    object
 10  BET5Y           911 non-null    object
 11  BET10Y          911 non-null    object
 12  R2_3YRS         911 non-null    object
 13  R2_5YRS         911 non-null    object
 14  R2_10YRS        911 non-null    object
 15  SD_3YRS         911 non-null    object
 16  SD_5YRS         911 non-null    object
 17  SD_10YRS        911 non-null    object
 18  SHP_3YRS        911 non-null    object
 19  SHP_5YRS        911 non-null    object
 20  SHP_10YRS       911 non-null    object
dtypes: datetime64[ns](1), float64(3), object(17)
memory usage: 149.6+ KB

In [28]:
## choosing scheme which are 10 yrs old or more
df_clean = df_clean[df_clean['Inception'] <= '2015-03-31']
df_clean

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033.0,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.5,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.2,0.99,0.34
1,100034.0,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.95,-2.76,-2.5,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176.0,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,1996-10-31,1.64,151.00,2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177.0,Quant Small Cap Fund Growth,Small-Cap,1996-09-23,1.64,151.00,2.4,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218.0,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,1995-01-04,2.25,276.16,0.62,-0.98,-1.61,0.96,...,0.7,88.22,82.52,85.55,14.3,13.04,12.47,0.5,1.0,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,120475.0,Axis Strategic Bond Fund Direct Growth Option,Medium Duration,2013-01-01,0.53,269.27,1.10,1.34,0.54,1.19,...,1.26,83.91,83.11,62.70,1.37,1.55,2.19,1.27,1.67,1.05
907,120477.0,Axis Conservative Hybrid Fund Direct Plan Annu...,Conservative Allocation,2013-11-09,0.90,126.91,-0.80,0.59,-1.38,1.17,...,0.92,88.87,82.12,47.05,4.30,4.26,4.85,0.44,1.09,0.24
908,120478.0,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,2013-05-07,0.90,126.91,-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
909,120479.0,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,2013-01-21,0.90,126.91,-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
910,120480.0,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,2013-01-01,0.90,126.91,-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49

In [29]:
cols = df_clean.columns[6:]
for i in cols:
    print(df_clean[df_clean[i] == '–'][i])

471    –
815    –
816    –
Name: ALP3Y, dtype: object
471    –
815    –
816    –
Name: ALP5Y, dtype: object
465    –
471    –
472    –
528    –
529    –
532    –
535    –
539    –
632    –
716    –
720    –
734    –
770    –
773    –
775    –
815    –
816    –
852    –
876    –
900    –
Name: ALP10Y, dtype: object
471    –
815    –
816    –
Name: BET3Y, dtype: object
471    –
815    –
816    –
Name: BET5Y, dtype: object
465    –
471    –
472    –
528    –
529    –
532    –
535    –
539    –
632    –
716    –
720    –
734    –
770    –
773    –
775    –
815    –
816    –
852    –
876    –
900    –
Name: BET10Y, dtype: object
471    –
815    –
816    –
Name: R2_3YRS, dtype: object
471    –
815    –
816    –
Name: R2_5YRS, dtype: object
465    –
471    –
472    –
528    –
529    –
532    –
535    –
539    –
632    –
716    –
720    –
734    –
770    –
773    –
775    –
815    –
816    –
852    –
876    –
900    –
Name: R2_10YRS, dtype: object
471    –
815    –
816    –
Name: SD_3YRS, dtype: object
471    –
815    –
816    –
Name: SD_5YRS, dtype: object
465    –
471    –
472    –
528    –
529    –
532    –
535    –
539    –
632    –
716    –
720    –
734    –
770    –
773    –
775    –
815    –
816    –
852    –
876    –
900    –
Name: SD_10YRS, dtype: object
471    –
815    –
816    –
Name: SHP_3YRS, dtype: object
471    –
815    –
816    –
Name: SHP_5YRS, dtype: object
465    –
471    –
472    –
528    –
529    –
532    –
535    –
539    –
632    –
716    –
720    –
734    –
770    –
773    –
775    –
815    –
816    –
852    –
876    –
900    –
Name: SHP_10YRS, dtype: object

In [36]:
indx = df_clean[(df_clean['ALP10Y']=='–') | (df_clean['BET10Y']=='–') | (df_clean['SD_10YRS']=='–') | (df_clean['R2_10YRS']=='–') | (df_clean['SHP_10YRS']=='–')].index
df_clean.drop(indx,inplace=True)

C:\Users\Chaitanya Keshari\AppData\Local\Temp\ipykernel_22964\555130686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.drop(indx,inplace=True)

In [37]:
## formatting the other performance and risk ratios
cols = df_clean.columns[6:]
for i in cols:
    df_clean[i] = df_clean[i].astype(float)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 910
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      885 non-null    float64
 1   SchemeName      885 non-null    object
 2   SchemeCategory  885 non-null    object
 3   Inception       885 non-null    datetime64[ns]
 4   ExpenseRatio    885 non-null    float64
 5   TurnoverRatio   885 non-null    float64
 6   ALP3Y           885 non-null    float64
 7   ALP5Y           885 non-null    float64
 8   ALP10Y          885 non-null    float64
 9   BET3Y           885 non-null    float64
 10  BET5Y           885 non-null    float64
 11  BET10Y          885 non-null    float64
 12  R2_3YRS         885 non-null    float64
 13  R2_5YRS         885 non-null    float64
 14  R2_10YRS        885 non-null    float64
 15  SD_3YRS         885 non-null    float64
 16  SD_5YRS         885 non-null    float64
 17  SD_10YRS        885 non-null    float64
 18  SHP_3YRS        885 non-null    float64
 19  SHP_5YRS        885 non-null    float64
 20  SHP_10YRS       885 non-null    float64
dtypes: datetime64[ns](1), float64(18), object(2)
memory usage: 152.1+ KB

C:\Users\Chaitanya Keshari\AppData\Local\Temp\ipykernel_22964\2801694085.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[i] = df_clean[i].astype(float)

In [38]:
df_clean['SchemeCode'] = df_clean['SchemeCode'].astype(int)

C:\Users\Chaitanya Keshari\AppData\Local\Temp\ipykernel_22964\236867464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['SchemeCode'] = df_clean['SchemeCode'].astype(int)

In [39]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 910
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      885 non-null    int32
 1   SchemeName      885 non-null    object
 2   SchemeCategory  885 non-null    object
 3   Inception       885 non-null    datetime64[ns]
 4   ExpenseRatio    885 non-null    float64
 5   TurnoverRatio   885 non-null    float64
 6   ALP3Y           885 non-null    float64
 7   ALP5Y           885 non-null    float64
 8   ALP10Y          885 non-null    float64
 9   BET3Y           885 non-null    float64
 10  BET5Y           885 non-null    float64
 11  BET10Y          885 non-null    float64
 12  R2_3YRS         885 non-null    float64
 13  R2_5YRS         885 non-null    float64
 14  R2_10YRS        885 non-null    float64
 15  SD_3YRS         885 non-null    float64
 16  SD_5YRS         885 non-null    float64
 17  SD_10YRS        885 non-null    float64
 18  SHP_3YRS        885 non-null    float64
 19  SHP_5YRS        885 non-null    float64
 20  SHP_10YRS       885 non-null    float64
dtypes: datetime64[ns](1), float64(17), int32(1), object(2)
memory usage: 148.7+ KB

In [43]:
df_clean = df_clean.reset_index(drop=True)
df_clean

,SchemeCode,SchemeName,SchemeCategory,Inception,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,...,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
0,100033,Aditya Birla Sun Life Equity Advantage Fund Gr...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.50,-2.44,-2.13,1.04,...,1.07,88.31,88.06,90.02,16.12,16.66,18.82,0.20,0.99,0.34
1,100034,Aditya Birla Sun Life Equity Advantage Fund Pa...,Large & Mid- Cap,1995-02-24,1.95,40.00,-4.95,-2.76,-2.50,1.04,...,1.07,88.71,88.21,89.96,16.09,16.65,18.78,0.17,0.97,0.32
2,100176,Quant Small Cap Fund Payout of Income Distribu...,Small-Cap,1996-10-31,1.64,151.00,2.44,10.06,4.59,0.88,...,0.71,89.49,73.71,59.24,18.84,23.07,20.99,0.75,1.66,0.64
3,100177,Quant Small Cap Fund Growth,Small-Cap,1996-09-23,1.64,151.00,2.40,10.01,4.69,0.88,...,0.72,89.51,73.74,59.45,18.84,23.07,20.98,0.75,1.66,0.64
4,100218,JM Large Cap Fund Payout of Income Distributio...,Large-Cap,1995-01-04,2.25,276.16,0.62,-0.98,-1.61,0.96,...,0.70,88.22,82.52,85.55,14.30,13.04,12.47,0.50,1.00,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,120475,Axis Strategic Bond Fund Direct Growth Option,Medium Duration,2013-01-01,0.53,269.27,1.10,1.34,0.54,1.19,...,1.26,83.91,83.11,62.70,1.37,1.55,2.19,1.27,1.67,1.05
881,120477,Axis Conservative Hybrid Fund Direct Plan Annu...,Conservative Allocation,2013-11-09,0.90,126.91,-0.80,0.59,-1.38,1.17,...,0.92,88.87,82.12,47.05,4.30,4.26,4.85,0.44,1.09,0.24
882,120478,Axis Conservative Hybrid Fund Direct Plan Half...,Conservative Allocation,2013-05-07,0.90,126.91,-0.86,1.23,-1.26,1.18,...,0.98,89.23,77.74,50.62,4.32,4.47,4.98,0.43,1.20,0.29
883,120479,Axis Conservative Hybrid Fund Direct Plan Quar...,Conservative Allocation,2013-01-21,0.90,126.91,-0.85,1.19,-1.19,1.17,...,1.01,89.03,78.16,53.31,4.30,4.43,4.98,0.43,1.20,0.32
884,120480,Axis Conservative Hybrid Fund Direct Plan Grow...,Conservative Allocation,2013-01-01,0.90,126.91,-0.69,0.68,-0.39,1.18,...,0.98,88.91,82.19,57.04,4.32,4.27,4.71,0.46,1.11,0.49

In [44]:
df_clean.to_csv('fodder2.csv',index = False)

In [46]:
df_clean.describe()

,SchemeCode,ExpenseRatio,TurnoverRatio,ALP3Y,ALP5Y,ALP10Y,BET3Y,BET5Y,BET10Y,R2_3YRS,R2_5YRS,R2_10YRS,SD_3YRS,SD_5YRS,SD_10YRS,SHP_3YRS,SHP_5YRS,SHP_10YRS
count,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000,885.000000
mean,112573.568362,1.003503,145.120497,0.328339,0.672158,-0.497322,1.699819,1.773548,1.012644,71.437130,65.716384,59.027356,6.662554,7.147966,8.054282,0.274249,0.852011,0.241763
std,7080.706298,0.596305,126.325737,2.363875,2.280061,1.404441,1.369319,1.552457,0.570717,26.922943,29.544310,35.246928,6.549841,6.757085,7.609630,0.847802,0.644374,0.687583
min,100033.000000,0.100000,0.000000,-6.530000,-5.090000,-4.540000,-5.730000,-1.690000,-6.030000,0.000000,0.000000,0.000000,0.400000,0.510000,0.460000,-11.630000,-1.970000,-3.350000
25%,105670.000000,0.510000,43.150000,-1.010000,-0.570000,-1.310000,0.900000,0.920000,0.910000,61.890000,46.340000,20.680000,0.960000,1.270000,1.350000,-0.160000,0.480000,-0.040000
50%,113179.000000,0.860000,112.280000,-0.250000,0.010000,-0.610000,1.000000,0.980000,0.990000,83.260000,77.830000,72.380000,3.000000,3.200000,4.020000,0.480000,1.000000,0.380000
75%,119094.000000,1.540000,216.830000,1.080000,1.630000,0.190000,2.290000,1.680000,1.160000,90.890000,89.280000,90.360000,13.850000,14.770000,16.660000,0.760000,1.310000,0.540000
max,120480.000000,2.570000,633.980000,8.140000,10.100000,4.690000,8.160000,11.120000,2.740000,98.780000,98.290000,98.070000,24.020000,23.070000,23.140000,6.270000,5.550000,2.470000

In [47]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SchemeCode      885 non-null    int32
 1   SchemeName      885 non-null    object
 2   SchemeCategory  885 non-null    object
 3   Inception       885 non-null    datetime64[ns]
 4   ExpenseRatio    885 non-null    float64
 5   TurnoverRatio   885 non-null    float64
 6   ALP3Y           885 non-null    float64
 7   ALP5Y           885 non-null    float64
 8   ALP10Y          885 non-null    float64
 9   BET3Y           885 non-null    float64
 10  BET5Y           885 non-null    float64
 11  BET10Y          885 non-null    float64
 12  R2_3YRS         885 non-null    float64
 13  R2_5YRS         885 non-null    float64
 14  R2_10YRS        885 non-null    float64
 15  SD_3YRS         885 non-null    float64
 16  SD_5YRS         885 non-null    float64
 17  SD_10YRS        885 non-null    float64
 18  SHP_3YRS        885 non-null    float64
 19  SHP_5YRS        885 non-null    float64
 20  SHP_10YRS       885 non-null    float64
dtypes: datetime64[ns](1), float64(17), int32(1), object(2)
memory usage: 141.9+ KB

## Debt-Oriented Funds
These are primarily suited for conservative investors seeking steady returns with lower risk.

1. Low Duration (130)

Invest in debt & money market instruments with a duration of 6 to 12 months.

Lower interest rate risk, good for short-term parking of funds.

2. Short Duration (77)

Duration: 1–3 years.

Balanced risk-return profile; better returns than liquid/low duration funds.

3. Money Market (64)

Invest in money market instruments (T-bills, CPs, CDs).

Tenure usually up to 1 year. Suitable for very short-term needs.

4. Ultra Short Duration (51)

Invest in instruments with 3–6 months duration.

Slightly higher returns than liquid funds with minimal volatility.

5. Medium Duration (39)

Duration: 3–4 years.

Moderate risk; impacted by interest rate changes.

6. Medium to Long Duration (39)

Duration: 4–7 years.

Higher interest rate risk; better during falling rate scenarios.

7. Corporate Bond (34)

Invest 80%+ in highest-rated corporate bonds.

Lower risk, stable returns.

8. Banking & PSU (41)

Invest in debt instruments of banks, PSUs, PFIs.

Good credit quality and safety.

9. 10 yr Government Bond (12)

Invest in government securities with 10-year maturity.

High interest rate sensitivity; suitable during rate cuts.

## Equity-Oriented Funds
Suitable for long-term investors seeking capital appreciation.

1. Large-Cap (82)

80%+ in top 100 companies by market cap.

Relatively stable, lower volatility.

2. Large & Mid-Cap (68)

Minimum 35% in both large- and mid-cap stocks.

Diversified exposure with growth potential.

3. Mid-Cap (57)

65%+ in mid-cap stocks (101–250th by market cap).

Higher risk and return potential.

4. Small-Cap (30)

65%+ in small-cap stocks (251+ ranked).

High risk, high return, volatile.

5. Multi-Cap (17)

25% each in large-, mid-, and small-cap.

Well-diversified across market caps.

6. Value (34)

Focus on undervalued stocks with turnaround potential.

Contrarian strategy; longer investment horizon needed.

7. Contra (12)

Invest against market trends.

Contrarian approach, requires patience and timing.